<span class="mypadding">    
<span>
    <a href="#"><img src="six.jpeg" class="myimagesnew"></a>
</span>
    <span>
    <p>Name: HALO</p>
    
    
    <p>Genre: Action</p>
    </span>
    <div><b>$1.00/Day</b></div>
    <span><label>Days</label><select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        </select></span>
    
        <span><button class="btn btn-warning btn-lg" ng-click="grtc.goToPayment()">Proceed to Checkout</button></span>
    <div><button class="btn btn-primary glyphicon glyphicon-circle-arrow-left" ng-click="grtc.goToCustomergames()"></button></div>
</span>