<div id="content">
<form class="form-horizontal">
<div class="form-group">
    <!--  <label class="col-lg-2 control-label">Username</label> -->
      <div class="col-lg-8">
        <button class="btn btn-warning btn-lg test" ng-click="fc.goToAdminMovies()">Movies</button>
      </div>
    </div>
    
      <div class="form-group">
   <!--   <label class="col-lg-2 control-label">Password</label> -->
      <div class="col-lg-8">
        <button class="btn btn-warning btn-lg test" ng-click="fc.goToAdminGames()">Video Games</button>
      </div>
    </div>
    
    <div class="form-group">
    <!--    <label class="col-lg-3 control-label">Have an Account?</label> -->
      <div class="col-lg-8">
        <button class="btn btn-warning btn-lg test" ng-click="fc.goToCustomer()">Customer Details</button>
      </div>
    </div>
    
    <div class="form-group">
    <!--    <label class="col-lg-3 control-label">Have an Account?</label> -->
      <div class="col-lg-8">
        <button class="btn btn-warning btn-lg test" ng-click="fc.goToEmployee()">Employee Details</button>
      </div>
    </div>
    
    <div class="form-group">
    <!--    <label class="col-lg-3 control-label">Have an Account?</label> -->
      <div class="col-lg-8">
        <button class="btn btn-warning btn-lg test" ng-click="fc.goToSupplier()">Supplier Details</button>
      </div>
    </div>
        
    
    </form>
</div>
        