<div class="moviecontent">


<form class="form-horizontal movies">
     <div class="homeclass "><b>MOVIES</b></div>
<div class="form-group">
      <label class="col-lg-2 control-label">pid</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="pid1" type="text" readonly="readonly" ng-model= "pid">
      </div>
    </div>

    <!--<div class="form-group">

    <label class="col-lg-2 control-label">mine Name {{movie.productname}} </label>
    <div class="col-lg-8">
      <input class="form-control" placeholder="Products Name's" type="text" ng-model= "productname">
    </div>

  </div>-->
      <div class="form-group">
      <label class="col-lg-2 control-label">Product Name</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Product Name" type="text" ng-model= "productname" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Award</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Award" type="text" ng-model= "award" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Year Released</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Year released" type="text" ng-model= "yr" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Rating </label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Rating" type="text" ng-model="rating"  >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Director</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Director" type="text" ng-model="director" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Actors</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Actors" type="text" ng-model="actor" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Category</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Category" type="text"  ng-model="category" >
      </div>
    </div>


 <!-- <a href="#" class="btn btn-primary btn-lg" ng-click="mc.goToFunctions()"><span class="glyphicon glyphicon-option-horizontal"></span></a>-->
    <button class="btn btn-primary glyphicon glyphicon-circle-arrow-left" ng-click="gotomovies()"></button>
    <button class="btn btn-primary btn-sm myBtn"  ng-click="updatemovie()">SUBMIT</button>
    <button class="btn btn-primary btn-sm myBtn" ng-click="gotomovies()">CANCEL</button>

  <!--   <span class="form-group">
      <span class="col-lg-8">
        <button class="btn btn-primary btn-lg">Video Games</button>
      </span>
    </span>

    <span class="form-group">
        <span class="col-lg-8">
        <button class="btn btn-primary btn-lg">Video Games</button>
      </span>
    </span>

   <span class="form-group">
      <span class="col-lg-8">
        <button class="btn btn-primary btn-lg">Video Games</button>
      </span>
    </span> -->

    </form>

</div>
