<div class="moviecontent">
<form class="form-horizontal movies">
    <div class="homeclass"><b>Video Games</b></div>
<div class="form-group">
      <label class="col-lg-2 control-label ">pid</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="pid" type="text" ng-model="pid" >
      </div>
    </div>

      <div class="form-group">
      <label class="col-lg-2 control-label">Product Name</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Product Name" type="text" ng-model="productname" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Award</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Award" type="text" ng-model="award" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Year Released</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Year released" type="text" ng-model="yr" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Rating</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Rating" type="text" ng-model   ="rating" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Platform</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Platform" type="text" ng-model  ="platform">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Publisher</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Publisher" type="text" ng-model ="publisher">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Developer</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Developer" type="text" ng-model ="developer">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Category</label>
      <div class="col-lg-8">
        <input class="form-control" placeholder="Category" type="text" ng-model="category">
      </div>
    </div>
    <button class= "btn btn-primary " ng-click="updategame()" > update</button>

    <button class="btn btn-primary glyphicon glyphicon-circle-arrow-left" ng-click="gotogame()"></button>

    </form>
</div>
