<span class="mypadding">    
<span>
    <a href="#"><img src="one.jpeg" class="myimagesnew"></a>
</span>
    <span>
    <p>Name: Shoot Out</p>
    
    
    <p>Actor: Silvester Stallone</p>
    </span>
    <div><b>$3.75</b></div>
    <span><label>Quantity</label><select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        </select></span>
    
        <span><button class="btn btn-warning btn-lg" ng-click="aboc.goToPayment()">Proceed to Checkout</button></span>
    <div><button class="btn btn-primary glyphicon glyphicon-circle-arrow-left" ng-click="aboc.goToCustomermovies()"></button></div>
</span>