




<div class="col-lg-2"></div><div class="col-lg-8">
    <div class="thumbnail">

        <img src="{{pid}}.jpeg" alt="Nature" style="width:100%">
        <div class="caption">
        <h1><center>  Rent Item <center></h1>
        </div>

<div class="form-group row">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="name" type="text" ng-model="pname" readonly>
        </div>
      </div>

        <div class="form-group row">
        <label class="col-lg-2 control-label">pid</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="pid" type="text" ng-model="pid" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-2 control-label">price</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="price" type="text" ng-model= "price" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-2 control-label">Date-Time</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="Date-Time" type="text" ng-model="dtime" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-2 control-label"  >Duration</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="Duration" type="text"ng-change="setprice()" ng-model= "duration">
        </div>
      </div>


                <div class="form-group row">
                    <div class="col-lg-2"></div>
                <button class="btn btn-primary" ng-click="rent()">rent item</button>
                <button class="btn btn-primary glyphicon glyphicon-circle-arrow-left" ng-click="gotocustomerfunctions()"></button>


            </div>
          </div>
      </div>
